pyrogram==2.0.106
TgCrypto==1.2.5
py-tgcalls==1.0.0

ffmpeg-python==0.2.0
yt-dlp
youtube-search-python==1.6.6

aiohttp
aiofiles
requests

python-dotenv
dnspython

motor
pymongo

psutil
future
wget
speedtest-cli
