pyrogram==2.0.106
tgcrypto
pytgcalls

ffmpeg-python
yt-dlp
youtube-search-python
youtube-search

python-dotenv
dnspython
gitpython

aiofiles
aiohttp
asgiref

requests
pillow

heroku3
motor
pymongo

psutil
future
wget
speedtest-cli
